body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url("img/bg.png");
    background-size: cover;
    backdrop-filter:  brightness(50%);
}

canvas {
    display: block;
}

#canvas_container {
    width: 100%;
    height: 100vh;
}

button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.5rem 0.9em;
    background: #000000;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background: #ffffff;
    color: #000000;
}

#twitter_link {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    /* Additional styles for the link */
}

#twitter_logo {
    width: 50px;
    height: auto;
    
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;   
  -khtml-user-select: none;   
  -moz-user-select: none;     
  -ms-user-select: none;       
  user-select: none;          
}

